<h1 id="reserve-kennel-h1" style="text-align: center;">Choose the Kennel!</h1>

<form class="reservation-form">

<div class="reservationpage-container">
  <h1 style="text-align: center;">Available Kennels</h1>

  {{#each kennels as |kennel|}}
  <div class="box box-down cyan">
    {{!-- <input type="button" class="myBtn2" value={{kennel.id}}> --}}
    <button class="myBtn2" value={{kennel.id}} type="button"><h2>{{kennel.name}}</h2></button>
    
    <p>Availability: {{ kennel.availability }} dog(s)</p>
    <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
  </div>
  {{/each}}

  {{!-- <button class="kennel-select">
    <div class="box box-down cyan">
      <h2>Kennel 1</h2>
      <p>Capacity: 3 dog(s)</p>
      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
    </div>
  </button>

  <button class="kennel-select">
    <div class="box box-down orange">
      <h2>Kennel 2</h2>
      <p>Capacity: 2 dog(s)</p>
      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
    </div>
  </button>

  <button class="kennel-select">
    <div class="box box-down blue">
      <h2>Kennel 3</h2>
      <p>Capacity: None</p>
      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
    </div>
  </button> --}}
</div>

<div class="reservationpage-container">
  <h1 style="text-align: center;">Choose Your Pet</h1>

  {{!-- <form class="reservation-form"> --}}

    <div class="choosepet-container">
      <input type="hidden" name="startDate" value="{{startDate}}">
      <input type="hidden" name="endDate" value="{{endDate}}">

      <div class="btn-group pets-selection">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Pets Lists
        </button>
        <ul class="dropdown-menu pets-dropdown">
          {{#if pets.length}}
            {{#each pets as |pet|}}
              <li><a class="dropdown-item"><button type="button" class="myBtn" value={{pet.id}}>{{pet.name}}</button></a></li>
            {{/each}}
          {{/if}}
        </ul>
      </div>


{{!-- <button class="user-pet">{{pet.name}}</button> --}}

      <br><br>
      <button type="button" class="cancelBtn" id="cancel">Cancel</button>
      <button type="submit" class="confirmBtn" id="confirm">Confirm</button>
    </div>
  {{!-- </form> --}}
</div>

</form>

<script src='/js/reservation.js'></script>
{{!-- <form>
  <input type="hidden" name="startDate" value="{{startDate}}">
  <input type="hidden" name="endDate" value="{{endDate}}">
</form> --}}