<h1 id="reserve-kennel-h1" style="text-align: center;">Choose the Kennel!</h1>

<form class="reservation-form">

<div class="reservationpage-container">
  <h1 style="text-align: center;">Available Kennels</h1>

  {{#each kennels as |kennel|}}
  <div class="kennel-card kennel-card--1">
    <h2 class="kennel-card__title">{{kennel.name}}</h2>
    <img class="kennel-card__img" src="/images/kennel{{kennel.id}}.jpg" alt="kennel{{kennel.id}}">
    <p class="kennel-card__text">Availability: {{kennel.availability}} dog(s)</p>
    <button class="kennelSelectBtn" value={{kennel.id}} type="button"><h2>Select</h2></button>
  </div>
  {{/each}}

</div>

<div class="reservationpage-container">
  <h1 style="text-align: center;">Choose Your Pet</h1>

    <div class="choosepet-container">
      <input type="hidden" name="startDate" value="{{startDate}}">
      <input type="hidden" name="endDate" value="{{endDate}}">

      <div class="btn-group pets-selection">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Pets Lists
        </button>
        <ul class="dropdown-menu pets-dropdown">
          {{#if pets.length}}
            {{#each pets as |pet|}}
              <li><a class="dropdown-item"><button type="button" class="petSelectBtn" value={{pet.id}}>{{pet.name}}</button></a></li>
            {{/each}}
          {{/if}}
        </ul>
      </div>

      <br><br>
      <button type="button" class="cancelBtn" id="cancel">Cancel</button>
      <button type="submit" class="confirmBtn" id="confirm">Confirm</button>
    </div>

</div>

</form>

<script src='/js/reservation.js'></script>
