<h1 id="reserve-kennel-h1" style="text-align: center;">Choose the Kennel!</h1>

<form class="reservation-form">

<div class="reservationpage-container">
  <h1 id="available-kennels" style="text-align: center;">Available Kennels</h1>

  {{#each kennels as |kennel|}}
  <div class="kennel-card kennel-card--1">
    <h2 class="kennel-card__title">{{kennel.name}}</h2>
    <img class="kennel-card__img" src="/images/kennel{{kennel.id}}.jpg" alt="kennel{{kennel.id}}">
    <p class="kennel-card__text">Availability: {{kennel.availability}} dog(s)</p>
    <button class="kennelSelectBtn" value={{kennel.id}} type="button"><h2>Select</h2></button>
  </div>
  {{/each}}

</div>

<div class="reservationpage-container">
  <h1 id="choose-your-pet" style="text-align: center;">Choose Your Pet</h1>

    <div class="choosepet-container">
      <input type="hidden" name="startDate" value="{{startDate}}">
      <input type="hidden" name="endDate" value="{{endDate}}">

      <div class="btn-group pets-selection">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Pets Lists
        </button>
        <ul class="dropdown-menu pets-dropdown">
          {{#if pets.length}}
            {{#each pets as |pet|}}
              <li><a class="dropdown-item"><button type="button" class="petSelectBtn" value={{pet.id}}>{{pet.name}}, ID: {{pet.id}}</button></a></li>
            {{/each}}
          {{/if}}
        </ul>
      </div>

      <br><br>

      <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
        Make a Reservation!
      </button>

<!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <li class="list-group-item">Start Date:&emsp;{{startDate}}</li>
                <li class="list-group-item">End Date:&emsp;{{endDate}}</li>
                <li class="list-group-item">Kennel ID:&emsp;<span class="confirm-kennelID"></span></li>
                <li class="list-group-item">Pet ID:&emsp;<span class="confirm-petName"></span></li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="cancelBtn" id="cancel">Cancel</button>
              <button type="submit" class="confirmBtn" id="confirm">Confirm</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>

</div>

</form>

<script src='/js/reservation.js'></script>
