<h1 id="reservationlists-h1" style="text-align: center;">Reservation Lists</h1>

{{#if reservations.length}}
<div class="main reservationlists-container reservations-list">
  <ul class="reservation-lists-cards">
    {{#each reservations as |reservation|}}
    <li class="reservation-lists-cards_item">
      <div class="reservation-lists-card">
        <div class="reservation-lists-card_image">
          {{#if reservation.kennel_id}}
          <img class="kennel-img" src="/images/kennel{{reservation.kennel_id}}.jpg">
          {{/if}}
        </div>
        <div class="reservation-lists-card_content">
          <h2 class="reservation-lists-card_title">Reservation ID: {{reservation.id}}</h2>
          <h3 class="reservation-dates">{{reservation.startDate}} ~ {{reservation.endDate}}</h3><br>
          <p class="reservation-lists-card_text">
            You've got <span class="reserved-kennel-id">Kennel {{reservation.kennel_id}}</span> <br>for <span class="reserved-pet-name">{{reservation.pet.name}}</span>
          </p>
          <button class="icon-btn remove-btn" data-id="{{reservation.id}}">
            <div class="btn-txt">Remove</div>
          </button>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
{{/if}}


<script src="/js/reserved.js"></script>


