<h1 id="reservationlists-h1" style="text-align: center;">Reservation Lists</h1>

{{#if reservations.length}}
<div class="reservationlists-container reservations-list">
  {{#each reservations as |reservation|}}
    <div class="reservation">
      <div class="kennel_image">
        <h2 class="reservationID">Reservation # {{reservation.id}}
          <button class="icon-btn remove-btn" data-id="{{reservation.id}}">
            <div class="btn-txt">Remove</div>
          </button>
        </h2>
        {{#if reservation.kennel_id}}
        <img src="/images/kennel{{reservation.kennel_id}}.jpg">
        {{/if}}
      </div>
      <div class="reserved-pet">
        <p>You've got Kennel{{reservation.kennel_id}} for {{reservation.pet.name}}
        </p>
      </div>
    </div>
  {{/each}}
</div>
{{/if}}

<script src="/js/reserved.js"></script>


